.alc__root {
  background-color: #007d7e;
}

.alc__list-controls {
  padding: 0 50px 20px 50px;
}

.alc__panel {
  background: white;
  padding: 20px;
  margin-top: 20px;
}

.alc__button {
  background-color: #00676a;
}

.alc__text + .alc__button {
  margin-left: 20px;
}

.alc__text--size-large {
  font-size: 20px;
}