.alc__root {
  background-color: #007d7e;
  padding-bottom: 10px;
}

.alc__root.has-no-description {
  padding-bottom: 20px;
}

.alc__tab-list {
  margin: 0 50px;
}

.alc__tab {
  position: relative;
  display: inline-block;
}

.alc__tab + .alc__tab {
  margin-left: 10px;
}

.alc__tab__indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: transparent;
  transition: background-color 0.25s;
  z-index: 2;
}

.alc__tab:hover .alc__tab__indicator,
.alc__tab:focus .alc__tab__indicator,
.alc__tab:active .alc__tab__indicator,
.alc__tab.is-selected .alc__tab__indicator {
  background-color: #333;
}

.alc__tab__button {
  padding: 7px 10px 5px 10px;
  background-color: #00676a;
  cursor: pointer;
  border-radius: 0;
  border-width: 0;
}

.alc__tab.is-selected .alc__tab__button {
  background-color: white;
  color: #333;
}

.alc__tab i {
  margin-right: 6px;
}

.alc__filter-reset {
  display: inline-block;
  margin-left: 10px;
}

.alc__filter-reset__button {
  background-color: #00676a;
  border-radius: 0;
  padding: 0;
  border-width: 0;
  cursor: pointer;
  position: relative;
}

.alc__filter-reset__button:hover,
.alc__filter-reset__button:focus,
.alc__filter-reset__button:active {
  background-color: darken(#00676a, 5%);
}

.alc__filter-reset__button a {
  display: inline-block;
  height: 32px;
  padding: 0 10px;
  line-height: 32px;
  color: white;
}

.alc__filter-reset i {
  margin-right: 5px;
}

.alc__layouts {
  float: right;
}

.alc__layouts__layout {
  display: inline-block;
  color: #fff;
  margin-left: 5px;
}

.alc__layouts__layout__button {
  padding: 8px 10px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  background-color: #00676a;
  border-width: 0;
}

.alc__layouts__layout__button:hover,
.alc__layouts__layout__button:active,
.alc__layouts__layout__button:focus {
  background-color: darken(#00676a, 5%);
}

.alc__layouts__layout.is-selected .alc__layouts__layout__button {
  background-color: darken(#00676a, 10%);
}

.alc__layouts__layout__button .icon:before {
  margin: 0;
}

.alc__textual-description {
  margin: 10px 50px 0 50px;
  color: white;
  font-size: 16px;
}

.alc__tab-content {
  padding: 0 50px 5px 50px;
}

.alc__tab-content__inner {
  background-color: white;
  padding: 10px 20px;
}

.alc__filter__field + .alc__filter__group,
.alc__filter__group + .alc__filter__group {
  margin-top: 16px;
  border-top: 1px solid #e6e6e6;
  padding-top: 18px;
}

.alc__filter__children {
  padding-top: 10px;
}

.alc__filter__group__title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.alc__filter__group__children {
  margin-top: 10px;
}

.alc__filter__field {
  margin-bottom: 15px;
  display: inline-block;
  vertical-align: top;
}

.alc__filter__field--full-width {
  width: 100%;
}

.alc__filter__field--half-width {
  width: calc(50% - 10px);
}

.alc__filter__field--half-width:nth-child(2n) {
  margin-left: 20px;
}

.alc__filter__label {
  float: none;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

.alc__filter__input {
  padding: .4em 1em;
}

.alc__field--boolean .alc__filter__input-wrap {
  margin-top: 10px;
}

.alc__field--choice .alc__filter__input {
  margin: 0.4em 0 0.4em 0;
  padding: 0;
}

.alc__field__radio-choices {
  margin-top: 12px;
  margin-bottom: 16px;
  padding-left: 1px;
}

.alc__filter__radio-choice__label {
  padding: 0;
  float: none;
  width: auto;
  display: inline-block;
  margin-right: 25px;
}

.alc__field__radio-choice__input {
  margin-right: 31px !important;
}

.alc__filter__radio-choice__label__text {
  display: inline-block;
  position: relative;
  top: 2px;
  font-weight: normal;
}

.alc__filter__buttons {
  margin: 20px 0 10px 0;
}

.alc__filter__submit {
  background-color: #00676a;
  border-width: 0;
}

.alc__filter__submit:hover,
.alc__filter__submit:active,
.alc__filter__submit:focus {
  background-color: darken(#00676a, 5%);
}

.alc__filter__submit i {
  margin-right: 6px;
}

.alc__sorts {
  padding: 12px 0 10px 0;
}

.alc__sorts__sort + .alc__sorts__sort {
  margin-top: 5px;
}

.alc__sorts__button {
  padding: 0 9px;
  height: 32px;
  text-transform: none;
  background: transparent;
  color: #007d7e;
  border: 1px solid #d9d9d9;
}

.alc__sorts__button:hover,
.alc__sorts__button:active,
.alc__sorts__button:focus {
  color: white;
  background-color: lighten(#007d7e, 5%);
}

.is-selected .alc__sorts__button {
  color: white;
  background-color: #007d7e;
  border-color: #007d7e;
}
